<div class="container">
  <h1> Reset your Password</h1>

  <%= form_with(model: @user, url: password_reset_update_path(token: params[:token])) do |form| %> 
  <%= render 'shared/errors', object: @user %>      
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", required: true %>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", required: true %>
    </div>
    <%= form.submit "Reset Password", class: "btn btn-lg btn-success" %>
  <% end %>
</div>
